html{
    background: #5D8896;
    color: white;
    font-size: 62.5%;
}

h3,h4,img{
    visibility:hidden;
}

button, input{
    height: 30px;
    border-radius: 10px;
}

button{
    background: #4CAF50;
    width: 10%;
    
}

input{
    width: 15%;
    padding-left: 1%;
}

img{ 
    background: lightgrey;
    height:500px;
    border: 5px solid black;
    margin: 2% 0;
}

h3, h4{
    text-decoration: underline;
    font-size: 3rem;
    margin: 0.5% 0;
}

#name, #team{
    font-size: 5rem;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
}

h2{
    font-size: 5rem;
}